<?xml version='1.0' encoding='utf-8'?>
 <!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 <hibernate-configuration>
 <session-factory>
   <property name="hibernate.connection.driver_class">

com.mysql.jdbc.Driver</property>
   <property name="hibernate.connection.url">

jdbc:mysql://localhost:3306/rfi</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">root</property>
   <property name="hibernate.connection.pool_size">1</property>
   <property name="show_sql">true</property>
   <property name="format_sql">true</property>
   <property name="use_sql_comments">true</property>
   <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.hbm2ddl.auto">update</property>
      
   <!-- Mapping files -->
   <mapping resource="hbm/rfi.hbm.xml"/>
   <mapping resource="hbm/rfiApproval.hbm.xml"/>
   <mapping resource="hbm/workItem.hbm.xml"/>
   <mapping resource="hbm/side.hbm.xml"/>
   <mapping resource="hbm/activity.hbm.xml"/>
   <mapping resource="hbm/layer.hbm.xml"/>
   <mapping resource="hbm/bill.hbm.xml"/>
   <mapping resource="hbm/expandedRfi.hbm.xml"/>
   <mapping resource="hbm/grade.hbm.xml"/>
   <mapping resource="hbm/rfiCode.hbm.xml"/>
   <mapping resource="hbm/status.hbm.xml"/>
   <mapping resource="hbm/boq.hbm.xml"/>
   <mapping resource="hbm/barChart.hbm.xml"/>
   <mapping resource="hbm/layerException.hbm.xml"/>
   <mapping resource="hbm/quantity.hbm.xml"/>
   <mapping resource="hbm/rfiBill.hbm.xml"/>
 </session-factory>
 </hibernate-configuration>

